body {font-weight:bold;
text-align:center;
}

header {
	background:#9B69D1;
	font-size: 20px;
	text-align:center;
	}
	
	a{
		color:green;
		font-size:25px;
	 }

	 div{
	 	color:#9B69D1;
	 	font-size: 20px;
	 	text-align:right;
	 }
	 #Bitch {
	 	color: green;
	 }
	 body {
	 	background-color:#F3FFBC;
	 	align-content:center;
	 	font-family: 'Anton', sans-serif;
font-family: 'Fira Sans Extra Condensed', sans-serif;
font-family: 'Ruslan Display', cursive;
font-family: 'Prosto One', cursive;
font-family: 'Scada', sans-serif;
	 }

	 
	 


